@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14PX;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
image {
    vertical-align: top;
    display: block;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'SUIT-Regular';
}

/* header */
header {
    width: 100%;
}
.logo {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 150px;
    height: 70px;
}
.nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.nav li {
    font-weight: bold;
}
.nav li a:hover {
    color: #FFBF00;
}
.nav_menu {
    display: flex;
    width: 75%;
}
.nav_menu li {
    padding: 25px 45px;
}
.nav_menu li:first-child {
   padding-left: 0;
}
.user {
    display: flex;
    width: 25%;
    justify-content: right;
}
.user li {
    padding: 25px 30px;
}
.user li:nth-child(2){
    padding-right: 0;
}
.hamburger-button {
	position: absolute;
	width: 25px;
	height: 25px;
    right: 10%;
    top: 9%;
    display: none;
}
.hamburger-button span {
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #3e3e3e;
}
.hamburger-button span:nth-child(1) {
    top: 0;
}
.hamburger-button span:nth-child(2) {
    top: 8px;
}
.hamburger-button span:nth-child(3) {
    top: 16px;
}

/* 상단 메인 이미지 */
section {
    width: 100%;
}
.mainimg {
    width: 100%;
    position: relative;
}
.mainimg img{
    width: 100%;
}
.mainimg h1 {
    position: absolute;
    left: 10%;
    top: 80%;
    font-size: 40px;
}
.yellow_f {
    color: #FFBF00;
    font-size: 40px;
}

/* 캐릭터 */
.character {
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
}
.container {
    width: 100%;
    display: flex;
    margin-top: 100px;
}
.human, .human2 {
    width: 25%;
}
.human img, .human2 img {
    width: 100%;
}
.saybox, .saybox2 {
    width: 100%;
    position: relative;
    margin-left: 20px;
}
.talk {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 85%;
    padding: 60px;
    border: 3px solid #FFBF00;
    text-align: center;
    border-radius: 50px;
    background-color: #fcf7e8;
    box-sizing: border-box;
    line-height: 20px;
}
.yellow {
    color: #FFBF00;
    font-size: 25px;
}

.talk2 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 85%;
    padding: 60px;
    border: 3px solid #FFBF00;
    text-align: center;
    border-radius: 50px;
    background-color: #fcf7e8;
    box-sizing: border-box; 
    line-height: 20px;
}
.recommend {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
    background-color: #FFBF00;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

/* 비전 박스 */
.vision_box {
    width: 100%;
    height: 1700px;
}
.vision_img1 {
    background-image: url(../img/story/1.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}
.vision_img1 p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    width: 40%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.526);
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-weight: bold;
}
.yellow2 {
    font-size: 27px;
    color: #ffbf00;
}
.vision_img2 {
    background-image: url(../img/story/2.jpg);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.vision_img2 p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    width: 40%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.526);
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-weight: bold;
}
.vision_img3{
    background-image: url(../img/story/3.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.vision_img3 p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    width: 40%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.526);
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-weight: bold;
}
article h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 160px;
}
.block{
    background-color: #FFBF00;
    font-size: 24px;
}

/* 이지 박스 */
.easy_box {
    width: 100%;
    height: 1130px;
    background-color: #fffae9;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.circle {
    width: 300px;
    height: 300px;
    border: 3px solid #FFBF00;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 80px;
}
.imgbox {
    margin-top: 50px;
}
.imgbox img {
    width: 150px;
    height: 150px;
}
.textbox {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
.center {
    width: 100%;
    height: 90px;
    background-color: #FFBF00;
    line-height: 90px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* 마지막 이미지 */
.last {
    width: 100%;
    position: relative;
}
.last_img {
    width: 100%;
}
.last_img img {
    width: 100%;
}
.last > h1 {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    font-size: 35px;
    margin-top: 0px;
}
.yellow3 {
    color: #FFBF00;
    font-size: 37px;
}

/* footer */
footer {
    width: 100%;
}
.footer1 {
    width: 100%;
    border-bottom: 1px solid #dad8d6;
}
.footer1_1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-top: 15px;
}
.footer1 img {
    width: 150px;
    height: 70px;
    margin-bottom: 10px;
}
.footer2 {
    width: 90%;
    font-weight: bold;
}
.footer2 > ul {
    display: flex;
    justify-content: right;
    line-height: 90px;
}
.footer2 > ul > li > a {
    padding: 10px 40px;
}
.bottom_footer {
    width: 80%;
    height: 220px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
}
.footer3 {
    width: 50%;
}
.footer3-text {
    line-height: 25px;
}
.footer3-sns {
    margin-top: 25px;
}
.footer3-sns a {
    margin-right: 10px;
}
.footer3-sns img {
    width: 40px;
    height: 40px;
}
.footer4 {
    width: 50%;
    text-align: right;
    line-height: 25px;
}
.number {
    font-size: 24px;
    font-weight: bold;
}

/* mediaquery */
/* 화면 너비 0 ~ 1060px */
@media screen and (max-width: 1060px) {
    .mainimg h1 {
        top: 70%;
    }
    .talk, .talk2 {
        padding: 40px;
    }
}

/* 화면 너비 0 ~ 980px */
@media screen and (max-width: 980px) {
    .nav {
        flex-direction: column;
    }
    .nav li {
        border-bottom: 1px solid #fff;
        font-size: 30px;
    }
    .nav li a {
        color: #fff;
    }
    .nav li a:hover {
       color: #fff;
    }
    .nav_menu {
        flex-direction: column;
        width: 100%;
        display: none;
        position: fixed;
        top:0;
        left: 0;
        padding: 120px 0;
        height: 600px;
        background-color: #ffbf00;
        z-index: 1;
    }
    .nav_menu li:first-child {
        border-top: 1px solid #fff;
        padding-left: 45px;
     }
    .user {
        display: none;
    }
    .hamburger-button {
        display: block;
        z-index: 9999;
    }
    .nav_menu.active,
    .user.active {
        display: flex;
    }
    .talk, .talk2 {
        font-size: 12px;
    }
    .vision_img1 p, .vision_img2 p, .vision_img3 p {
        width: 60%;
    }
    .last > h1 {
        font-size: 28px;
    }
    .yellow3 {
        font-size: 30px;
    }
}

/* 화면 너비 0 ~ 780px */
@media screen and (max-width: 780px) {
    .mainimg h1 {
        font-size: 30px;
    }
    .footer1_1 {
        flex-direction: column;
        align-items: center;
    }
    .footer2 {
        width: 100%; 
        text-align: center;
    }
    .footer2 > ul {
    justify-content: center;
    }
    .container {
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
    }
    .container:first-child {
        margin-top: 0px;
    }
    .container:nth-child(3) {
        margin-top: 200px;
    }
    .human, .human2 {
        width: 40%;
    }
    .talk {
        width: 100%;
        left: 48.5%;
        margin-top: 80px;
    }
    .talk2 {
        width: 100%;
        left: 48.5%;
        margin-top: 325px;
    }
    .vision_img1 p, .vision_img2 p, .vision_img3 p {
        width: 80%;
        font-size: 20px;
    }
    .yellow2 {
        font-size: 20px;
    }
}

/* 화면 너비 0 ~ 640px */
@media screen and (max-width: 640px) {
    .mainimg h1 {
        font-size: 28px;
    }
    .footer2 > ul > li > a {
        padding: 10px 20px;
    }
    .bottom_footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer3 {
        width: 100%;
        order: 2;
        margin-top: 40px;
    }
    .footer4 {
        width: 100%;
        text-align: center;
        order: 1;
    }
    .talk, .talk2 {
        padding: 20px;
    }
    .talk2 {
        margin-top: 260px;
    }
    .center {
        font-size: 20px;
    }
    .last > h1 {
        font-size: 20px;
    }
    .yellow3 {
        font-size: 22px;
    }
}

/* 화면 너비 0 ~ 480px */
@media screen and (max-width: 480px) {
    .mainimg h1 {
        font-size: 24px;
    }  
}
